{% extends "base.html" %}

{% block content %}
<p>{{name}}</p>

<form action="/" method="GET">
  <input type="text" name="a11" /> * x +
  <input type="text" name="a12" /> * y +
  <input type="text" name="a13" /> * z = 
  <input type="text" name="b1" />  <br />
  <input type="text" name="a21" /> * x +
  <input type="text" name="a22" /> * y +
  <input type="text" name="a23" /> * z = 
  <input type="text" name="b2" />  <br />
  <input type="text" name="a31" /> * x +
  <input type="text" name="a32" /> * y +
  <input type="text" name="a33" /> * z = 
  <input type="text" name="b3" />  <br />
  <input type="submit" value="Get!">
</form>

{% endblock %}
